<div id="game-board">

  <% 8.times do |r| %>
    <% 8.times do |c| %>
      <div class="board-square<%= square_classes(r,c) %>" data-row=<%= r %> data-column=<%= c %> data-empty=<%= piece_on_square(r,c).nil? %>>
        <%= render partial: "game_piece_area",
                   locals: { piece: piece_on_square(r,c) } %>
      </div>
    <% end %>
    <div class="row-label">
      <%= r + 1 %>
    </div>
    <div class="clearfix"></div>
  <% end %>
  <% ("A".."H").each do |c| %>
    <div class="column-label"><%= c %></div>
  <% end %>

</div>