<% if piece.active? && piece.artillery? %>
  <% piece.directions_to_turn.each do |direction| %>
    <a href="" class="arrow <%= direction %>-arrow hide"><%= render "games/arrows/#{direction}" %></a>
  <% end %>
<% end %>
<div class="<%= piece_classes(piece) %>">

  <% if piece.color == @game.active_player %>
    <%= link_to "#", data: piece_data(piece), title: piece.name do %>
      <%= image_tag "#{piece.color}-#{piece.css_class}.png" %>
    <% end %>
  <% else %>
    <%= image_tag "#{piece.color}-#{piece.css_class}.png" %>
  <% end %>
</div>
