<div class="row">
  <div id="game-description-area" class="col-md-10 col-md-offset-1">
    <h4>Turn: <span id="turn-number"><%= @game.turn_number %></span></h4>
    <h5>It is <span id="active-player"><%= @game.active_player %></span>'s turn.</h5>
  </div>
</div>

<div class="row <%= @game.phase %>-phase" id="game-area">
  <div id="game-board-area" class="col-md-5 col-md-offset-1">
    <%= render "game_board", game: @game %>
  </div>

  <div id="reserve-area" class="col-md-2">
    <%= render "game_reserves" %>
  </div>

  <div id="orders-area" class="col-md-2 col-md-offset-1">
    <%= render "orders" %>
    <%= render "engagements" %>
  </div>
</div>
